/* [VARIABLES:] */
:root {
  --main-text-color: rgb(173, 2, 189);
  --text-stroke-color: rgb(255, 0, 242);
  --text-highlight-color: rgb(247, 0, 255);
  --text-stroke-shadow: rgb(63, 0, 0);

  --width-s: 50%;
}

html,
body {
  min-height: 100vh;

  background: #181818;
  color: #ffffff;

  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#root,
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
}
/*-------------------------TITLE-------------------------*/
@keyframes glowing {
  /* Responsible for making the title glow effect*/
  0% {
    text-shadow: 0px 0px 18px var(--text-stroke-color);
  }
  50% {
    text-shadow: 0px 0px 30px var(--text-stroke-color);
  }
  100% {
    text-shadow: 0px 0px 18px var(--text-stroke-color);
  }
}

@keyframes animate {
  /* Responsible for the highlight effect in the title */
  0% {
    width: 0%;
  }
  70%,
  100% {
    width: 100%;
  }
}

#root .title::before {
  /*CREDIT: https://www.youtube.com/watch?v=4PbgtyE0mGs */
  content: attr(data-text);
  position: absolute;
  width: 0%;

  color: var(--text-highlight-color);
  text-shadow: 0px 0px 3px var(--text-highlight-color);

  overflow: hidden;
  white-space: nowrap;

  animation: animate 5s ease-in-out 2s forwards;
}

#root .title {
  font-size: 60px;
  font-weight: bold;
  color: var(--main-text-color);
  -webkit-text-stroke: 0.3px var(--main-text-color);

  position: relative;
  animation: glowing 8s infinite; /* Adjust the duration as needed */

  margin-top: 3%;
  z-index: 2;
}

#root h2 {
  color: var(--main-text-color);
  margin-top: 10px;
  font-weight: bold;
}
/*--*/

/*-------------------------APP-------------------------*/
.App {
  text-align: center;
  font-weight: bold;

  padding: 2em;
  margin: 0;

  width: var(--width-s);
  height: 100%;

  box-sizing: border-box;
}
/*-------------------------- LETTER SQUARE ---------------------------*/
.LetterArea {
  margin-top: 10%;
  margin-bottom: 5%;
  height: 15vw;
  width: 40%;

  background-color: hotpink;
  /* background-color: black; */ /*for testing purposes*/

  display: flex;
  justify-content: center;
  align-items: center;
}

.Triangle1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10vw solid transparent;
  border-right: 10vw solid transparent;
  border-bottom: 14vw solid red;
}
