/* [VARIABLES:] */
:root {
  --main-text-color: rgb(189, 2, 189);
  --text-stroke-color: rgb(255, 0, 200);
  --text-highlight-color: rgb(255, 0, 242);
  --text-stroke-shadow: rgb(56, 0, 63);

  --background: #181818;
  --width-s: 50%;
}

/*--HTML--*/
html,
body {
  min-height: 100vh;

  background: var(--background);
  color: #ffffff;

  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

#root,
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
}
/*-------------------------TITLE-------------------------*/
@keyframes glowing {
  /* Responsible for making the title glow effect*/
  0% {
    text-shadow: 0px 0px 18px var(--text-stroke-color);
  }
  50% {
    text-shadow: 0px 0px 30px var(--text-stroke-color);
  }
  100% {
    text-shadow: 0px 0px 18px var(--text-stroke-color);
  }
}

@keyframes animate {
  /* Responsible for the highlight effect in the title */
  0% {
    width: 0%;
  }
  70%,
  100% {
    width: 100%;
  }
}

#root .title::before {
  /*CREDIT: https://www.youtube.com/watch?v=4PbgtyE0mGs */
  content: attr(data-text);
  position: absolute;
  width: 0%;

  color: var(--text-highlight-color);
  text-shadow: 0px 0px 3px var(--text-highlight-color);

  overflow: hidden;
  white-space: nowrap;

  animation: animate 5s ease-in-out 2s forwards;
}

#root .title {
  font-size: 60px;
  font-weight: bold;
  color: var(--main-text-color);
  -webkit-text-stroke: 0.3px var(--main-text-color);

  position: relative;
  animation: glowing 8s infinite; /* Adjust the duration as needed */

  margin-top: 3%;
  z-index: 2;
}

#root h2 {
  color: var(--main-text-color);
  margin-top: 10px;
  font-weight: bold;
}
/*--*/

/*-------------------------APP-------------------------*/
.App {
  text-align: center;
  font-weight: bold;

  padding: 2em;
  margin: 0;

  width: var(--width-s);
  height: 100%;

  box-sizing: border-box;
}
/*-------------------------- LETTER TRIANGLE ---------------------------*/
.LetterArea {
  margin-top: 1%;
  margin-bottom: 3%;
  height: 22vw;
  width: 75%;

  /* background-color: black; */ /*for testing purposes */

  display: flex;
  justify-content: center;
  align-items: center;
}

/*----triangle1----*/
.Triangle1 {
  width: 90%;
  height: 90%;
  border-left: 18vw solid transparent;
  border-right: 18vw solid transparent;
  border-bottom: 20vw solid var(--text-highlight-color);

  filter: drop-shadow(0 0 12px var(--text-highlight-color)); /* Glow effect */
  transition: filter 0.7s ease;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Triangle1.shine {
  filter: drop-shadow(0 0 1.2vw var(--text-highlight-color));
}

/*----triangle2----*/
.Triangle2 {
  position: absolute; /* Position the child div absolutely */
  top: 2vw;

  border-left: 15vw solid transparent;
  border-right: 15vw solid transparent;
  border-bottom: 17vw solid black;

  /* Glow effect for the inner triangle */
  filter: drop-shadow(0px 2px 10px rgb(0, 0, 0, 0.5));

  display: flex;
  justify-content: center;
  align-items: center;
}

/*----triangle3----*/
.Triangle3 {
  position: absolute; /* Position the child div absolutely */
  top: 0.28vw;

  border-left: 14.5vw solid transparent;
  border-right: 14.5vw solid transparent;
  border-bottom: 16.5vw solid var(--background);

  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9));

  display: flex;
  justify-content: center;
  align-items: center;
}

/*----Letter----*/
.randomLetter {
  position: absolute;
  font-size: 18vh;

  margin-top: 20vw;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-shadow: 1px 1px 20px var(--main-text-color);

  z-index: 3;
}

.randomLetter.fade {
  opacity: 1;
}

/*-------------------------GENERATE BUTTON-------------------------*/
.ButtonHolder {
  border-radius: 10px;

  height: 6vh;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.GenerateButton {
  height: 70%;
  width: 80%;

  font-size: 1em;
  font-weight: bold;
  color: white;

  border-radius: 2px;
  background-color: #2f3030;
  -webkit-text-stroke: 0.3px black;

  box-shadow: 0 0 0 var(--main-text-color);
  transition: box-shadow 0.1s ease;

  overflow: hidden;
  z-index: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.GenerateButton:hover {
  box-shadow: 0 0 5px var(--main-text-color), 0 0 10px var(--main-text-color),
    0 0 10px var(--main-text-color), 0 0 30px var(--main-text-color);
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
}

/*-------------------------BOTTOM FRAME-------------------------*/
.BottomFrame {
  position: relative;
  margin-top: 0.5em;
  color: var(--main-text-color);
  font-weight: normal;
  font-style: italic;
}
